<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="../static/stylesheets/login.css">

</head>

<body>
	<div class="container">
		<h1>Login</h1>
		<form class="login-form" action="{{ url_for('login') }}" method="post">
			{% if message is defined and message %}
			<div class="alert alert-warning">{{ message }}</div>
			{% endif %}
			<div class="form-group">
				<label for="username">Username</label>
				<input type="username" class="form-control" id="username" name="username" required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" required>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
		<div class="register">
			<p>Don't have an account? Register
			<form action="{{ url_for('register') }}" method="get">
				<button class="btn btn-primary">here</button>
			</form>.
			</p>
		</div>
		<div class="homepage">
			<form action="{{ url_for('mainpage') }}" method="get">
				<button class="btn btn-primary">Back to homepage</button>
			</form>
		</div>
	</div>


</body>

</html>